:root {
  --background-color: rgb(200, 200, 169);
  --orange-color: rgb(160, 82, 45);
}
.App {
  font-family: Arial, monospace, Helvetica, Helvetica, sans-serif;
  text-align: left;
  color: rgb(29, 21, 107);
}
body {
  padding-bottom: 50px;
  background-color: var(--background-color);
}
h2 {
  text-align: center;
  text-shadow: 0 0 20px #fdec84, 10px -10px 30px #ffae35,
    20px -20px 40px #ec760c, -20px -60px 50px #cd4607, 0px -80px 60px #973717,
    10px -40px 70px #451b0e;
  font: 140 30px "Comic Sans MS";
}
button {
  font-weight: bold;
  /* background-color: rgb(135, 198, 0); Green*/
  background-color: #39c;
  color: white;
  border-radius: 6px;
  z-index: 2;
}
table {
  bottom: 20px;
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 5px;
}
select {
  background-color: var(--background-color);
}

.ShowAnswerButton {
  background-color: var(--orange-color);
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 105px;
}
.Header > * {
  flex: 1 1 30%;
}
.HeaderProverb {
  color: var(--orange-color);
  font-weight: bold;
}
.HeaderImgContainer {
  align-self: stretch;
  text-align: right;
}
.HeaderImg {
  height: 105px;
  min-height: 100%;
  max-width: 100%;
}

.Spaces {
  white-space: pre-wrap;
  font-size: 16px;
  /* border-bottom: 1px solid; */
}
.my_answer {
  width: 95%;
  font-size: 18px;
  background-color: var(--background-color);
}

.hidden {
  display: none;
}

.normal {
  color: blue;
}

.fixed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: var(--background-color);
  border-top: 1px solid black;
  text-align: center;
  align-self: stretch;
  left: 0;
  right: 0;
}
.fixed > * {
  flex: 1 1 30%;
}
.copyRight {
  bottom: 0;
  right: 0;
  font-style: italic;
  color: gray;
  z-index: 1;
  text-align: right;
}
.iconImg {
  height: 30px;
  border-radius: 50%;
}
