.App {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  text-align: left;
  color: rgb(29, 21, 107);
}
body {
  padding-bottom: 50px;
  background-color: rgb(200, 200, 169);
}
h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
}
button {
  font-weight: bold;
  /* background-color: rgb(135, 198, 0); Green*/
  background-color: #39c;
  color: white;
  border-radius: 6px;
}
table {
  bottom: 20px;
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 5px;
}
select {
  background-color: rgb(200, 200, 169);
}

.Spaces {
  white-space: pre-wrap;
  font-size: 16px;
  /* border-bottom: 1px solid; */
}
.my_answer {
  width: 95%;
  font-size: 18px;
  background-color: rgb(200, 200, 169);
  /* color: rgb(29, 21, 107); */
}

.hidden {
  display: none;
}

.normal {
  color: blue;
}

.fixed {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: rgb(200, 200, 169);
  border-top: 1px solid black;
  padding-left: 42%;
  padding-right: 40%;
  left: 0;
  right: 0;
}
.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  font-style: italic;
  color: gray;
}
.HeaderImg {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 80px;
}
.iconImg {
  height: 30px;
}
