.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.Spaces {
  white-space: pre;
  border-bottom: 1px solid;
}
.my_answer {
  width: 95%;
  font-size: 5mm;
}
h1,
h2 {
  text-align: center;
}
.hidden {
  display: none;
}
.purple {
  color: purple;
}
.green {
  color: green;
}
.normal {
  color: blue;
}
.fixed {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: white;
  border-top: 1px solid black;
  left: 0;
  right: 0;
}
